{{ ansible_managed | comment }}

#%PAM-1.0
{% if os_auth_retries > 0 %}
auth        required      pam_tally2.so deny={{ os_auth_retries }} onerr=fail unlock_time={{ os_auth_lockout_time }}
{% endif %}
auth        required      pam_env.so
{% if os_auth_ldap %}
auth        [default=1 ignore=ignore success=ok] pam_succeed_if.so uid >= 1000 quiet
auth        [default=1 ignore=ignore success=ok] pam_localuser.so
{% endif %}
auth        sufficient    pam_unix.so nullok try_first_pass
auth        requisite     pam_succeed_if.so uid >= 500 quiet
{% if os_auth_sssd %}
auth        sufficient    pam_sss.so forward_pass
{% endif %}
auth        required      pam_deny.so

{% if os_auth_retries > 0 %}
account     required      pam_tally2.so
{% endif %}
account     required      pam_unix.so
account     sufficient    pam_localuser.so
account     sufficient    pam_succeed_if.so uid < 500 quiet
{% if os_auth_sssd %}
account     [default=bad success=ok user_unknown=ignore] pam_sss.so
{% endif %}
account     required      pam_permit.so

{% if (os_auth_pam_passwdqc_enable|bool) %}
  {%- if ((ansible_facts.os_family == 'RedHat' and ansible_facts.distribution_version|int is version('7', '>=')) or ansible_facts.distribution == 'Amazon') %}
password    required      pam_pwquality.so {{ os_auth_pam_pwquality_options }}
  {%- else %}
password    requisite     pam_passwdqc.so {{ os_auth_pam_passwdqc_options }}
  {%- endif %}
{% else %}
password    requisite     pam_cracklib.so try_first_pass retry=3 type=
{% endif %}
password    sufficient    pam_unix.so sha512 shadow nullok try_first_pass use_authtok remember=5
{% if os_auth_sssd %}
password    sufficient    pam_sss.so use_authtok
{% endif %}
password    required      pam_deny.so

session     optional      pam_keyinit.so revoke
session     required      pam_limits.so
{% if os_auth_sssd %}
-session     optional      pam_systemd.so
session     optional      pam_oddjob_mkhomedir.so umask=0077
{% endif %}
session     [success=1 default=ignore] pam_succeed_if.so service in crond quiet use_uid
session     required      pam_unix.so
{% if os_auth_sssd %}
session     optional      pam_sss.so
{% endif %}
