<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
    This file lists the userGroupProviders, accessPolicyProviders, and authorizers to use when running securely. In order
    to use a specific authorizer it must be configured here and it's identifier must be specified in the nifi.properties file.
    If the authorizer is a managedAuthorizer, it may need to be configured with an accessPolicyProvider and an userGroupProvider.
    This file allows for configuration of them, but they must be configured in order:

    ...
    all userGroupProviders
    all accessPolicyProviders
    all Authorizers
    ...
-->
<authorizers>

    <userGroupProvider>
        <identifier>file-user-group-provider</identifier>
        <class>org.apache.nifi.authorization.FileUserGroupProvider</class>
        <property name="Users File">{{ nifi_conf_dir }}/users.xml</property>
        <property name="Legacy Authorized Users File"></property>

        <property name="Initial User Identity A">{{ nifi_initial_admin }}</property>
        {% if nifi_authorized_nodes_list | length > 0 -%}
        {% for node in nifi_authorized_nodes_list -%}
        <property name="Initial User Identity {{ loop.index }}">{{ node }}</property>
        {% endfor -%}
        {% endif -%}
    </userGroupProvider>

    <userGroupProvider>
        <identifier>ldap-user-group-provider</identifier>
        <class>org.apache.nifi.ldap.tenants.LdapUserGroupProvider</class>
        <property name="Authentication Strategy"></property>

        <property name="Manager DN">uid=binduser,cn=sysaccounts,cn=etc,dc=dev,dc=shearn89,dc=com</property>
        <property name="Manager Password">bind-query-only</property>

        <property name="TLS - Keystore">/etc/pki/java/keystore.jks</property>
        <property name="TLS - Keystore Password">changeit</property>
        <property name="TLS - Keystore Type">JKS</property>
        <property name="TLS - Truststore">/etc/pki/java/cacerts</property>
        <property name="TLS - Truststore Password">changeit</property>
        <property name="TLS - Truststore Type">JKS</property>
        <property name="TLS - Client Auth">WANT</property>
        <property name="TLS - Protocol">TLSv1.2</property>
        <property name="TLS - Shutdown Gracefully"></property>
        
        <property name="Referral Strategy">FOLLOW</property>
        <property name="Connect Timeout">10 secs</property>
        <property name="Read Timeout">10 secs</property>

        <property name="Url">ldaps://ipa.dev.shearn89.com:636</property>
        <property name="Page Size"></property>
        <property name="Sync Interval">5 mins</property>

        <property name="User Search Base">cn=accounts,dc=dev,dc=shearn89,dc=com</property>
        <property name="User Object Class">ipaobject</property>
        <property name="User Search Scope">SUBTREE</property>
        <property name="User Search Filter">*</property>
        <property name="User Identity Attribute">uid</property>
        <property name="User Group Name Attribute">memberOf</property>
        <property name="User Group Name Attribute - Referenced Group Attribute"></property>

        <property name="Group Search Base">cn=accounts,dc=dev,dc=shearn89,dc=com</property>
        <property name="Group Object Class">groupofnames</property>
        <property name="Group Search Scope">SUBTREE</property>
        <property name="Group Search Filter">*</property>
        <property name="Group Name Attribute">cn</property>
        <property name="Group Member Attribute">member</property>
        <property name="Group Member Attribute - Referenced User Attribute"></property>
    </userGroupProvider>

    <accessPolicyProvider>
        <identifier>file-access-policy-provider</identifier>
        <class>org.apache.nifi.authorization.FileAccessPolicyProvider</class>
        <property name="User Group Provider">file-user-group-provider</property>
        <property name="Authorizations File">{{ nifi_conf_dir }}/authorizations.xml</property>
        <property name="Initial Admin Identity">{{ nifi_initial_admin | default('') }}</property>
        <property name="Legacy Authorized Users File"></property>

        {% if nifi_authorized_nodes_list | length > 0 -%}
        {% for node in nifi_authorized_nodes_list -%}
        <property name="Node Identity {{ loop.index }}">{{ node }}</property>
        {% endfor -%}
        {% endif -%}
        <property name="Node Group"></property>
    </accessPolicyProvider>

    <authorizer>
        <identifier>managed-authorizer</identifier>
        <class>org.apache.nifi.authorization.StandardManagedAuthorizer</class>
        <property name="Access Policy Provider">file-access-policy-provider</property>
    </authorizer>

</authorizers>
